@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #000000;
    min-height:200vh;
}
header ul li a{
    text-transform: uppercase;
}
header ul li  a:hover{
    transform: scale(1.5);
    text-underline-position: below;
    text-underline-offset: transform scale(1.03);
}
header ul li::after{
    content: '';
    height: 2.5px;
    background:#fada5e;
    display: block;
    margin: auto;
    transition: 0.5s;
    width: 0%;
}

header ul li:hover::after{
    width: 90%;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    width:100%;
    justify-content: space-between; 
    align-items: center;
    transition:0.6s;
    padding:40px 100px;
    z-index: 100000;

}
h2{
    color:white;
}


header .logo{
    position: relative;
    font-weight: 700;
    color:#fff;
    text-decoration: none;
    font-size:2em;
    text-transform: uppercase;
    letter-spacing:2px;
    transition:0.6s
}
header ul{
    position: relative;
    display:flex;
    justify-content:center;
    margin-right: 0px;
    align-items: center;
}
header ul li{
    position: relative;
list-style: none;
}
header ul li a{
    position: relative;
   text-decoration:none;
   margin: 0 20px;
   color:#fff;
   letter-spacing:2px;
   font-weight:500px;
   transition:0.6s;
   font-size:20px;
   font-family: 'Roboto', sans-serif;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 2, 2, 0.7),rgb(3, 2, 3)),url(./Images/bg.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

header.sticky{
    padding: 5px 100px;
    background:#fff;
}

header.sticky .logo,
header.sticky ul li a{
color: #000;
}

/* FOOTER */

footer{
    background-color:#232b2b;
    color:#fff;
    padding-bottom: 0px;
    margin-bottom:0px;
   
}

.content{
   
    padding-left: 20px;
    padding-top: 5%;
}

.about{
    padding-top: 2%;
    padding-bottom: 3%;
    border-bottom: 2px solid rgb(255, 230, 0);
}

.serv-list li a{
    color:aliceblue;
   list-style: none;
}

ul li  {
    list-style: none;
}

ul li a  {
    text-decoration: none;
}

.serv-list li a:hover{
text-decoration: underline;
color: #dedede ;
}
.explore{
padding-top:0px;
margin-top:0px;
 margin-left:40%;
 transform: translateY(-168%);
 padding-bottom:0px;
margin-bottom:0px;
}
.ex, .follow{
    padding-bottom: 3% ;
}

.follow{
    margin-top:36%;
}
.social{
 padding-top:0px;
margin-top:0px;
 margin-left:80%;
 transform: translateY(-580%);
 padding-bottom:0px;
margin-bottom:0px;
}

.foot2{
    text-align:center;
    background-color:rgb(32, 30, 30);
}
span{
    color:rgb(228, 224, 20);
    font-weight:bold;
}

.fab{
    margin-right: 10px;
    margin-left: 10px;
}
.fab:hover{
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;

}

.fa-instagram:hover{
    color: #ca3bab;
  }
  
.fa-facebook:hover{
    color: #3b5998;
  }
.fa-twitter:hover{
    color: #1DA1F2;
  }
  
.fab{
    font-size:30px;
    color:#fff;
}

/* Newletter */

form{
    transform: translateY(-130%);
    text-align: center;
   
}
.news{
    letter-spacing: 2px;
}
.emailbox{
    outline: none;
    border: none;
    height: 42px;
    font-size: 16px;
    padding-left: 20px;
}
.newsletter-box{
    padding-top: 20px;
    
}


.letter{
    width:90px;
    height: 44px;
    text-transform: uppercase;
    background-color:#fdff00;
    color: rgb(7, 7, 7);
    cursor: pointer;
    outline: none;
    border:none;
}


.letter:hover{
    background-color:#1b1a18;
    color: rgb(253, 247, 247);
}



.icon {
    color: #f1ff74;
    font-size: 28px;
  }
  
  .icon:hover {
    color: #e6e937;

  }
/* -------------------------MEDIA QUERIES-------------------- */


/* Desktopn view */
@media only screen and (min-width: 1080px) {
    .icon {
      visibility: hidden;
    }
  }

/* Tablet View */

  @media only screen and (max-width: 1024px){
    .icon {
        visibility: hidden;
      }
img.fav{
         padding-top: 4px;
         padding-left: 0%;
         padding-right: 90%;
      }

      .logo{
            padding-top: 4px;
            margin-right: 4%;
         }
         .explore{
             margin-left:50%;
            }
            .social{
                margin-right:4%;
                transform: translateY(-540%);
                
               }
               .fab{
                font-size:27px;
            }
            header ul li a{
               font-size:16px;
            }
      }

      /* Mobile View */
      @media only screen and (max-width: 767px){


      }





/* CSS TEXT ANIMATION */


.info {

transform: translateY(-200%);
color:white;
font-size: 40px;
text-align:center;
margin-left: 5%;
}
.span{
    font-family: 'Overpass', sans-serif;
}

.start a{
   text-decoration: none;
   color:rgb(2, 2, 2);
   font-size: 15px;
   
}

.start{
    width:130px;
    height: 44px;
    text-transform: uppercase;
    background-color:#fdff00;
    border: none;
    margin-top: 60px;
    border-radius:6px;
    outline: none;
}

.start:hover{
    border: 4px solid #fdff00;
    background-color:(255,255,255, 0.1);

}